* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex-container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  flex-direction: column;

  @media screen and (min-width: $medium) { flex-direction: row; }
}

